<footer>
    <div class="row" style="background-color: #5F41B0">
        <div class="col-lg-2 col-lg-offset-3">
            <p>CoreOly 2018-2019<br>
                coreoly42@gmail.com<br><br>
                445 Watervliet Shaker Rd<br>
                Latham, NY 12110<br>
            </p>
        </div>
        <div class="col-lg-2 col-lg-offset-2">
            <p>Currently maintained by John Yin and Andrew Huang. Created by John Yin. Open source on <a href="https://github.com/jyin2/jyin2.github.io">Github.</a></p>
        </div>
    </div>
</footer>
